---
layout: default
title: 
section: Read
container-type: section
content-type: posts-list
description: Ramblings and such from Mat Hayward, Operations Director at Kind.
keywords: Front-end Developer, Nottingham
share-img: social/default.jpg
pub-time: 2013-09-19T18:07
---

    <p>Have a read of my rambling blog posts and some selected tweets.</p>

    <hr>

    <div class="cols" id="read">

    {% for post in site.posts %}

        {% comment %} Produce a date string {% endcomment %}

        {% assign d = post.date | date: "%d" | plus: "0" %}

        {% capture date_string %}{{ d }}{{ suffix }} {{ post.date | date: "%b" }} {{ post.date | date: "%Y" }}{% endcapture %}


        {% if post.type == 'tweet' %}

        <article class="col col--full col--half--small tweet">
            {{ post.content }}
            <time datetime="{{ post.date }}" class="tweet__date"><a href="{{ post.url-out }}">{{ date_string }}</a></time>
            <div class="tweet__links">
                <a href="https://twitter.com/intent/tweet?in_reply_to={{ post.twitter-id }}" class="btn btn--link">Reply</a> | <a href="https://twitter.com/intent/retweet?tweet_id={{ post.twitter-id }}" class="btn btn--link">Retweet</a> | <a href="https://twitter.com/intent/favorite?tweet_id={{ post.twitter-id }}" class="btn btn--link">Favourite</a>
            </div>
        </article>

        {% else %}

        <article class="col col--full col--half--small article">
            <h2 class="article__header"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date }}" class="article__date">{{ date_string }}</time>
            <div class="article__content">
                {{ post.snippet | markdownify }}

                <div class="article__links">
                    <a href="{{ post.url }}" class="btn btn--cta btn--forward">Read on</a>
                </div>
            </div>
        </article>

        {% endif %}
    {% endfor %}
    </div>