---
layout: default
title:
container-type: section
content-type: posts-list
description: Ramblings and such from Mat Hayward, front-end developer at Erskine Design in Nottingham.
keywords: Front-end Developer Nottingham
share-img: default.jpg
pub-time: 2013-09-19T18:07
---

    {% for post in site.posts %}

        {% comment %} Produce a date string {% endcomment %}

        {% assign d = post.date | date: "%d" | plus: "0" %}

        {% case d %}
          {% when 1 or 21 or 31 %}
            {% assign suffix = "st" %}
          {% when 2 or 22 %}
            {% assign suffix = "nd" %}
          {% when 3 or 23 %}
            {% assign suffix = "rd" %}
          {% else %}
            {% assign suffix = "th" %}
        {% endcase %}

        {% capture date_string %}{{ post.date | date: "%A" }} {{ d }}{{ suffix }} {{ post.date | date: "%B" }} {{ post.date | date: "%Y" }}{% endcapture %}


        {% comment %} Check if posted on third-party website {% endcomment %}


        {% if post.posted-on %}

        {% capture posted_on %}Posted on <a href="{{ post.posted-on-url }}">{{ post.posted-on }}</a> on {% endcapture %}
        {% else %}
        {% capture posted_on %}{% endcapture %}

        {% endif %}


        {% if post.type == 'tweet' %}

        <article>
            <header class="posts-list__header posts-list__header--twitter">
                <h1>Tweet</h1>
                <h2 class="post__date"><a href="{{ post.url-out }}">{{ date_string }}</a></h2>
            </header>
            <section class="post__content">
                {{ post.content }}
                <a href="{{ post.url-out }}" class="btn btn--cta btn--forward">View on Twitter</a>
            </section>
        </article>

        {% else %}

        <article>
            <header class="posts-list__header">
                <h1><a href="{{ post.url }}#article-top">{{ post.title }}</a></h1>
                <h2 class="post__date">{{ posted_on }}<a href="{{ post.url }}#article-top">{{ date_string }}</a></h2>
            </header>
            <section class="post__content">
                {{ post.snippet | markdownify }}
                <a href="{{ post.url }}#article-top" class="btn btn--cta btn--forward">Read on</a>
            </section>
        </article>

        {% endif %}
    {% endfor %}