// ==========================================================================
// MASTHEAD MODULE
// ==========================================================================


.masthead {
    padding-top: rem-calc($base-spacing);
    padding-bottom: rem-calc($base-spacing);
    text-align: left;
    border-bottom: 1px solid palette(neutral, dark);
    margin-bottom: rem-calc(25);

    @include respond-to("medium") {
        border-bottom: 2px solid palette(neutral, dark);
        margin-bottom: rem-calc(50);
        @include pie-clearfix();
    }
}

.masthead__avatar {
    display: none;
    margin-bottom: rem-calc($base-spacing);

    @include respond-to("small") {
        display: block;
    }

    @include respond-to("medium") {
        float: left;
    }
}

.masthead__logo {
    margin-bottom: rem-calc(10);

    @include respond-to("medium") {
        @include font-scale(xlarge, futura);
        margin-left: rem-calc(130);
    }
    
    a {
        @include link() {
            color: black;
            background: none;
        }
    }
}

.masthead__description {
    font-style: italic;
    margin-bottom: rem-calc($base-spacing);
    
    @include respond-to("medium") {
        margin-left: rem-calc(130);
    }
}

.masthead__nav {
    @include respond-to("medium") {
        margin-left: rem-calc(0);
        clear: both;
    }
}


.masthead--small {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: rem-calc(20);

    .masthead__avatar {
        display: none;

        @include respond-to("medium") {
            display: block;
            width: rem-calc(50);
            margin-right: rem-calc(20);
            margin-bottom: 0;
        }
    }

    .masthead__nav {
        float: left;
        clear: none;
        margin-top: rem-calc(15);
        margin-bottom: 0;

        .nav__item {
            @include font-scale(xsmall, futura);
        
            @include respond-to("medium") {
                @include font-scale(small);
            }

            a {
                @include link() {
                    padding: rem-calc(5 10);
        
                    @include respond-to("medium") {
                        padding: rem-calc(10 20);
                    }
                }
            }
        }
    }

    .masthead__social {
        display: none;
        
        @include respond-to("medium") {
            display: block;
            float: right;
            margin-top: rem-calc(22);
            // margin-right: rem-calc(-20);
        }

        .nav__item {
            padding: 0;
            background-size: rem-calc(30);
            font: 0/0 a;
            float: left;
            // margin-right: rem-calc(20);

            a {
                @include link() {
                    display: block;
                    width: rem-calc(30);
                    height: rem-calc(30);
                    background-image: none; 
                }
            }
        }

    }


}
