// ==========================================================================
// ARTICLES MODULE
// ==========================================================================


.article {
    margin-bottom: rem-calc(30);
}

.article__header {
    margin-bottom: rem-calc(5);

    a {
        @include link() {
            color: black;
            background-image: none;   
        }

        @include link--hover() {
        background-image: linear-gradient(to bottom, transparentize(black, 1) 86%, black 86%, black 90%, transparentize(black, 1) 90%);
        }
    }
}

.article__date {
    color: palette(teal, light);
    font-style: italic;
    margin-bottom: rem-calc(20);
    display: block;
}

.article__content {
    p {
       @include font-scale(large, chaparral);
    }
}