<div class="masthead">
    <a href="/" class="masthead__avatar avatar"><img src="/static/images/avatars/avatar.png" alt="Oooo yeah, click my face!" title="Oooo yeah, click my face!"></a>

    <h1 itemprop="name" class="masthead__logo"><a href="/">Mat Hayward</a></h1>
    <p class="masthead__description">Operations director at <a href="http://www.madebykind.com">Kind</a> / Front-end lover / Uncle / Handsome&nbsp;bastard.</p>
    <div class="s--hidden">
        <a href="{{site.url}}" itemprop="url">mathayward.com</a>.
        <span itemprop="address" itemscope
        itemtype="http://data-vocabulary.org/Address">
        <span itemprop="locality">Nottingham</span>
        <span itemprop="country-name">United Kingdom</span>
        </span>
        <span itemprop="title">Operations Director</span> at <span itemprop="affiliation">Kind</span>
    </div>

    
    <nav class="nav masthead__nav" id="topnav">
        <ul>
            <li class="nav__item{% if page.section == 'Read' %} nav__item--current{% endif %}"><a href="/" title="Ramblings and such">Read</a></li>
            <li class="nav__item{% if page.title == 'Work' %} nav__item--current{% endif %}"><a href="/work" title="Details of where I've worked with selected projects">Work</a></li>
            <li class="nav__item{% if page.title == 'Photography' %} nav__item--current{% endif %}"><a href="/photography" title="Some of the photographs I've taken">Photography</a></li>
            <li class="nav__item{% if page.title == 'Search' %} nav__item--current{% endif %}"><a href="/search" title="Feeling lazy? Use the search function to find things quickly">Search</a></li>
        </ul>
    </nav>
    <nav class="nav--social masthead__social">
        <ul>
            <li class="nav__item nav__item--twitter"><a href="http://www.twitter.com/mathaywarduk">Follow me on Twitter</a></li>
            <li class="nav__item nav__item--linkedin"><a href="http://uk.linkedin.com/in/mathaywarduk">Connect with me on LinkedIn</a></li>
        </ul>
    </nav>
</div>