/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../../assets/scss/modules/_layout.scss */
body, html {
  width: 100%;
  height: 100%;
}

/* line 14, ../../assets/scss/modules/_layout.scss */
body {
  background-image: url("../images/bgs/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* line 20, ../../assets/scss/modules/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../../assets/scss/modules/_text.scss */
html {
  font-size: 15px;
}

/* line 8, ../../assets/scss/modules/_text.scss */
body {
  font-size: 100%;
  line-height: 1.33333;
  font-family: "pt-sans", sans-serif;
  color: #666666;
}

/* line 24, ../../assets/scss/modules/_text.scss */
h1 {
  font-size: 40px;
  font-size: 2.66667rem;
  line-height: 1.1;
  font-family: "adobe-garamond-pro", serif;
  margin-bottom: 15px;
  margin-bottom: 1rem;
  color: black;
  font-style: italic;
}

/* line 31, ../../assets/scss/modules/_text.scss */
h2 {
  font-size: 32px;
  font-size: 2.13333rem;
  line-height: 1.125;
  font-family: "pt-sans", sans-serif;
  margin-bottom: 15px;
  margin-bottom: 1rem;
  color: #3333ff;
}

/* line 37, ../../assets/scss/modules/_text.scss */
h3 {
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 1.22222;
  font-family: "pt-sans", sans-serif;
  margin-bottom: 15px;
  margin-bottom: 1rem;
}

/* line 42, ../../assets/scss/modules/_text.scss */
p {
  font-size: 15px;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "pt-sans", sans-serif;
  margin-bottom: 15px;
  margin-bottom: 1rem;
}

/* line 47, ../../assets/scss/modules/_text.scss */
a {
  color: #e8c678;
}

/* line 51, ../../assets/scss/modules/_text.scss */
.lead {
  font-size: 120%;
  font-weight: normal;
}

/* line 56, ../../assets/scss/modules/_text.scss */
em {
  font-style: italic;
  color: #3333ff;
}

/* line 61, ../../assets/scss/modules/_text.scss */
strong {
  font-weight: bold;
  color: #3333ff;
}
/* line 65, ../../assets/scss/modules/_text.scss */
p strong {
  font-weight: normal;
}

/* line 12, ../../assets/scss/modules/_nav.scss */
.nav__subnav--home {
  display: none;
}

/* line 11, ../../assets/scss/modules/_header.scss */
.header--home {
  background-color: white;
  padding: 100px 40px 40px 40px;
  padding: 6.66667rem 2.66667rem 2.66667rem 2.66667rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 150px;
  border-radius: 10rem;
  height: 300px;
  height: 20rem;
  width: 300px;
  width: 20rem;
  margin: -150px 0px 0px -150px;
  margin: -10rem 0rem 0rem -10rem;
  z-index: 1;
}
/* line 25, ../../assets/scss/modules/_header.scss */
.header--home:hover .header__sub--home, .header--home:focus .header__sub--home {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 30, ../../assets/scss/modules/_header.scss */
.header--home h1 {
  text-align: center;
  font-size: 32px;
  font-size: 2.13333rem;
  line-height: 1.125;
  font-family: "adobe-garamond-pro", serif;
  padding: 0px 40px;
  padding: 0rem 2.66667rem;
}

/* line 37, ../../assets/scss/modules/_header.scss */
.header__sub--home {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-color: black;
  padding: 75px 40px 40px 40px;
  padding: 5rem 2.66667rem 2.66667rem 2.66667rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 150px;
  border-radius: 10rem;
  height: 300px;
  height: 20rem;
  width: 300px;
  width: 20rem;
  z-index: 2;
}
/* line 50, ../../assets/scss/modules/_header.scss */
.header__sub--home h2 {
  color: white;
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 1.22222;
  font-family: "adobe-garamond-pro", serif;
  font-style: italic;
  text-align: center;
}
/* line 57, ../../assets/scss/modules/_header.scss */
.header__sub--home h3 {
  text-align: center;
  font-size: 15px;
  font-size: 1rem;
  line-height: 1.46667;
  font-family: "pt-sans", sans-serif;
  color: white;
  font-weight: 200;
}
/* line 63, ../../assets/scss/modules/_header.scss */
.header__sub--home h3 a {
  font-style: italic;
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 1.22222;
  font-family: "adobe-garamond-pro", serif;
}
/* line 69, ../../assets/scss/modules/_header.scss */
.header__sub--home .hr {
  height: 1px;
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  background-color: white;
  margin: 25px 0px;
  margin: 1.66667rem 0rem;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: none;
}
