// ==========================================================================
// STATE MODULE
// ==========================================================================

.s--hidden {
    display: none;
}

.s--invisible--medium {
    @include respond-to('medium') {
        visibility: hidden;
    }
}

.s--sticky--top {
    position: fixed;
    top: 0;
    left: 0;
}