// SCSS CONFIGURATION

// @author: Mat Hayward @ Erskine Design

// CONTENTS ------------
//  - BASE VARIABLES
//      - TEXT
//      - COLOURS
//      - BREAKPOINTS
//  - COMPONENT CONFIGURATION
//  - MODULE CONFIGURATION
// ---------------------

////////////////////////////////////////////////////////////////////////////////////
//  1. Base Variables                                                             //
////////////////////////////////////////////////////////////////////////////////////

//////////////
// 1.1 Text //
//////////////

$font__base--serif: "adobe-garamond-pro", serif;
$font__base--sans: "pt-sans",sans-serif;

$text__base-line: 20;
$text__base-font-size: 15;

// Setting base sizes
$text__size--alpha: 40;
$text__size--beta: 32;
$text__size--gamma: 18;
$text__size--delta: 15;

$text__line--alpha: 44;
$text__line--beta: 36;
$text__line--gamma: 22;
$text__line--delta: 18;

$text__base-margin: 15;


/////////////////
// 1.2 Colours //
/////////////////

$color--white: #FFFFFF;
$color--black: #000000;

$color__neutral--super-light: #F4F4F4;
$color__neutral--light: #DDDDDD;
$color__neutral: #999999;
$color__neutral--dark: #666666;
$color__neutral--super-dark: #353535;

$color__primary--light: #84D85E;
$color__primary: #7AAC5E;
$color__primary--dark: #6A9769;

$color__highlight--super-light: #E8D5AF;
$color__highlight--light: #E8C678;
$color__highlight: #A68E6C;
$color__highlight--dark: #A66D5F;

/////////////////////
// 1.3 Breakpoints //
/////////////////////

$width__small: 481px;
$width__medium: 767px;
$width__large: 1200px;


////////////////////////////////////////////////////////////////////////////////////
//  2. Component Configurations                                                   //
////////////////////////////////////////////////////////////////////////////////////


////////////////////
// 2.1 Breakpoint //
///////////////////

$breakpoint-to-ems: true;

$breakpoints: 'small only' (max-width $width__small),
              'small and above' ($width__small),
              'between small and medium' ($width__small $width__medium),
              'between medium and large' ($width__medium $width__large),
              'medium and below' (max-width $width__medium),
              'medium and above' ($width__medium),
              'large only' ($width__large),
              'high resolution' (min-resolution 1.5dppx),
              'landscape' (orientation landscape),
              'portrait' (orientation portrait);


////////////////////////////////////////////////////////////////////////////////////
//  3. Module Configurations                                                      //
////////////////////////////////////////////////////////////////////////////////////
