// ==========================================================================
// QUARKS
// ==========================================================================
//
// Styles for base elements that don't belong in a module 


* {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
  background-color: palette(accent, pink);
  color: white;
}

::-moz-selection {
  background-color: palette(accent, pink);
  color: white;
}

html {
    font-size: ($font-base-size * 1px); // set the base font size for REM values.
    height: 100%;
    min-width: 300px;
}

body {
    @include font-family(chaparral);
    @include font-scale(base);
    color: palette(neutral, dark);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


// 
// IMAGES
// ==========================================================================

img {
  display: block;
  max-width: 100%;
}


// 
// TEXT
// ==========================================================================

strong, b {
  @include font-weight(semibold); 
}

em, i {
  font-style: italic;
}


// 
// MISCELLANEOUS
// ==========================================================================

hr {
  margin: rem-calc(($base-unit * 7) 0);
  border: none;
  background-color: palette(neutral, light);
  height: 1px;
  font: 0/0 a;
}



