///////////////////
// Button Styles //
///////////////////

// Button Variables
$btn__background: #006666 !default;
$btn__foreground: #FFFFFF !default;
$btn__box-shadow: 2px 2px 0px #CCCCCC !default;
$btn__padding: 10px 15px !default;
$btn__margin: 10px 0px !default;
$btn__border-radius: 2px;
$btn__background--focus: #009999 !default;
$btn__foreground--focus: #FFFFFF !default;



// Button Styling
/*

## Buttons

Buttons

```
<a href="#" class="btn">Button text &raquo;</a>
<a href="#" class="btn btn--primary">Primary button text &raquo;</a>

```

*/
.btn {
    background-color: $btn__background;
    color: $btn__foreground;
    text-decoration: none;
    padding: $btn__padding;
    margin: $btn__margin;
    border-radius: $btn__border-radius;
    cursor: pointer;
    border: none;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: $btn__box-shadow;
    @include transition(color 250ms, background-color 250ms);


    &:hover,
    &:focus {
        background-color: $btn__background--focus;
        color: $btn__foreground--focus;
    }

    &:active {
        box-shadow: none;
    }
}


.btn--cta {
    @include rems(width, 200);
    display: block;
    position: relative;

    &:after {
        position: absolute;
        @include rems(top, 10);
    }
}

.btn--forward {
    &:after {
        @include rems(right, 10);
        content: '→';
    }
}


.btn--back {
    text-align: right;

    &:after {
        @include rems(left, 10);
        content: '←';
    }
}

.btn--link {
    margin: 0;
    @include rems(padding, 8, 5, 10);
    background: none;

    &:first-child {
        @include rems(margin-left, -5);
    }

    &:hover,
    &:focus {
        background-color: transparent;
        color: $color__highlight--super-light;
    }
}