/////////////////////
// Carousel styles //
/////////////////////

$carousel__circle__width: 700 !default;
$carousel__items: 9;
$carousel__control__size: 100 !default;


.carousel {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    @include rems(height, $carousel__circle__width);
    @include rems(width, $carousel__circle__width);
    @include rems(margin, -($carousel__circle__width/2), 0, 0, -($carousel__circle__width/2));
    z-index: 1;
}


.carousel__container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include rems(border-radius, ($carousel__circle__width/2));
    @include transition(border-width 0.5s, border-radius 0.5s);
    border: (($carousel__circle__width/10) * 1px) solid $color--black;
    background-color: $color--white;

    &:hover,
    &:focus {
        border-width: (($carousel__circle__width/20) * 1px);
    }

}

.carousel__scroll-container {
    width: $carousel__items * 100%;
    height: 100%;
}


.carousel__item {
    // @include rems(height, $carousel__circle__width);
    // @include rems(width, $carousel__circle__width);
    position: relative;
    float: left;
    width: percentage(1/$carousel__items);
    height: 100%;
    overflow: hidden;
}

.carousel__item-media {
    position: absolute;
    z-index: 1;

    img {
        max-width: 100%;
        min-height: 100%;
    }

}

.carousel__item-meta {
    position: absolute;
    z-index: 2;
    top: 50%;
}

.carousel__item-title {
    width: auto;
    @include inline-block();
    background-color: transparentize($color--white, 0.15);
    @include rems(padding, 10, 20, 10, 50);
    @include box-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
    margin: 0;
}

.carousel__item-subtitle {
    width: auto;
    float: left;
    clear: left;
    @include inline-block();
    background-color: transparentize($color--black, 0.15);
    color: $color--white;
    @include text($text__size--gamma, $text__line--beta, $font__base--serif);
    font-style: italic;
    @include rems(padding, 5, 20, 5, 70);
    @include box-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));

}

.carousel__item-cta {
    position: absolute;
    z-index: 3;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
}

.carousel__controls {
    position: absolute;
    top: 50%;
    left: 50%;
    @include rems(height, $carousel__circle__width);
    @include rems(width, $carousel__circle__width);
    @include rems(margin, -($carousel__circle__width/2), 0, 0, -($carousel__circle__width/2));
}

%carousel__control {
    @include rems(width, $carousel__control__size);
    @include rems(height, $carousel__control__size);
    // background-color: red;
    border: 0 solid transparentize($color--white, 0.4);
    position: absolute;
    @include rems(top, ($carousel__circle__width - $carousel__control__size)/2);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    @include rotate(-45deg);
    @include transition(right 0.25s, left 0.25s, border-color 0.25s);

    &:hover {
        border-color: $color--white;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.carousel__control--prev {
    @extend %carousel__control;
    @include rems(left, -$carousel__control__size);
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 2px;

    &:hover {
        @include rems(left, -($carousel__control__size + 5));
    }
}

.carousel__control--next {
    @extend %carousel__control;
    @include rems(right, -$carousel__control__size);
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-bottom-right-radius: 2px;

    &:hover {
        @include rems(right, -($carousel__control__size + 5));
    }
}