///////////////////
// Layout Styles //
///////////////////

body, html {
    min-width: 100%;
    min-height: 100%;
}

body {
    background-image: url("../images/bgs/bg_sml.jpg");
    background-size: cover;
    background-attachment: fixed;

    @include respond-to("small and above") {
        background-image: url("../images/bgs/bg.jpg");
    }
}

* {
    box-sizing: border-box;
}

.content-block {
    background-color: $color--white;
    @include box-shadow(-2px -2px 2px rgba(0, 0, 0, 0.2));
    @include rems(margin, 30, 0, 0);

    @include respond-to("small and above") {
        width: 75%;
        @include rems(min-width, 480);
        @include rems(max-width, 760);
        margin-left: auto;
        margin-right: auto;
        @include rems(border-radius, 10, 10, 0, 0);
        @include rems(margin-top, 360);
        position: relative;
        z-index: 2;
    }
}