///////////////////
// Layout Styles //
///////////////////

body {
    @include rems(min-width, 300);
    @include box-sizing(border-box);
}

body {
    background-image: image-url("bgs/bg_sml.jpg");
    @include rems(background-size, 15);
    @include rems(padding, 0, 0, 0, 15);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: bottom left;

    * {
        @include box-sizing(border-box);
    }

    @include respond-to("small and above") {
        background-image: image-url("bgs/bg.jpg");
    }
}

.content-wrapper {
    overflow: hidden;
}

.content-block {

    &.intro {
        @include rems(margin-top, 30);
    }

}

.layout--hidden {
    display: none;
}

::selection, {
    background-color: $color__primary--light;
    color: $color--white;
}

::-moz-selection {
    background-color: $color__primary--light;
    color: $color--white;
}

.hr {
    border: none;
    background: none;
    display: block;
    border-bottom: 1px dotted $color__neutral--light;
    font-size: 0;
    line-height: 0;
    height: 0;
}

.hidden--small {
    @include respond-to("medium and above") {
        display: none;
    }
}