////////////////
// Nav styles //
////////////////

.nav {
    position: relative;
    z-index: 2;
    color: $color__neutral;
    font-weight: 200;
    @include rems(padding-top, 5);
    @include rems(padding-bottom, 5);
    @include rems(margin-top, 15);
    @extend %mh-pushpadding;
    border-top: 1px solid $color__neutral--light;
    border-bottom: 1px solid $color__neutral--light;
    font-family: $font__base--headings;
    clear: left;


    .nav__item {
        @include rems(padding, 5, 7);
        font-family: $font__base--body;
        font-size: 80%;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: underline;

        &:first-child {
            @include rems(margin-left, -7);
        }
        
        @include respond-to("large and above") {
            font-size: 100%;
        }
    }

}



.nav--footer {

    color: $color__neutral--dark;
    text-align: center;

    p {
        font-size: 100%;
    }

    .nav__item {

        color: $color__highlight--dark;
        text-decoration: none;
        font-weight: 200;

        &:hover,
        &:focus {
            color: $color__highlight;
        }
    }

    .nav__item--top {

        &:before {
            content: "↑";
            @include rems(padding-right, 5);
        }
    }
}

// Cycle through posts
.nav--cycle {
    @include rems(padding-top, 20);
    @include rems(margin-top, 50);
    // border-top: 1px dotted $color__neutral--light;
    overflow: auto;
    @include rems(margin-left, -15);
    @include rems(margin-right, -15);

    @include respond-to("small and above") {
        @include rems(margin-left, -30);
        @include rems(margin-right, -30);
    }

    @include respond-to("medium and above") {
        margin-left: 0;
        margin-right: 0;
    }

    @include respond-to("large and above") {
        border: none;
    }
}

.nav__item--cycle {
    text-decoration: none;
    @include rems(padding, 10);
    background-color: $color__neutral;
    position: relative;
    @include rems(margin-bottom, 5);
    float: left;
    width: 49%;

    &:before {
        position: absolute;
        @include rems(top, 10);
        color: $color--white;
    }

    &:hover {
        background-color: $color__neutral--super-light;
        @include transition(background-color 250ms);

        h2, &:before {
            color: $color__neutral--dark;
        }
    }

    h2 {        
        font-family: $font__base--body;
        padding: 0;
    }

    @include respond-to("large and above") {
        position: fixed;
        top: 25%;
        @include rems(min-height, 38);
        @include rems(width, 35);
        @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));

        &:hover, 
        &:focus {
            width: 27.5%;
            @include transition(width 100ms);

            h2 {
                @include opacity(1);
                @include transition(opacity 250ms);
            }
        }

    }

    img {
        display: none;

        @include respond-to("large and above") {
            display: block;
            @include rems(width, 100);
            background-color: $color--white;
        }
    }

    h2 {
        border: none;
        color: $color--white;
        margin: 0;
        @include rems(font-size, $text__size--delta);
        @include transition(color 250ms);

        @include respond-to("large and above") {
            white-space: nowrap;
            @include opacity(0);
        }
    }

}

.nav__item--cycle--previous {
    @include border-top-right-radius(2px);
    @include border-bottom-right-radius(2px);
    @include rems(padding-left, 30);
    margin-right: 2%;
    text-align: right;

    @include respond-to("medium and above") {
        @include border-radius(2px);
    }

    @include respond-to("large and above") {
        @include rems(left, 15);
        @include border-top-left-radius(0);
        @include border-bottom-left-radius(0);
    }

    &:before {
        @include rems(left, 10);    
        content: '←';
    }
}

.nav__item--cycle--next {
    @include border-top-left-radius(2px);
    @include border-bottom-left-radius(2px);
    @include rems(padding-right, 30);
    float: right;

    @include respond-to("medium and above") {
        @include border-radius(2px);
    }

    @include respond-to("large and above") {
        @include rems(right, 0);
        @include border-top-right-radius(0);
        @include border-bottom-right-radius(0);
    }

    &:before {
        @include rems(right, 10);
        content: '→';
    }
    
}