////////////////
// Nav styles //
////////////////

.nav {
    position: relative;
    z-index: 2;
    color: $color__neutral;
    font-weight: 200;
    @include rems(padding-top, 5);
    @include rems(padding-bottom, 5);
    @include rems(margin-top, 15);
    @extend %mh-pushpadding;
    border-top: 1px solid $color__neutral--light;
    border-bottom: 1px solid $color__neutral--light;
    font-family: $font__base--headings;


    .nav__item {
        @include rems(padding, 5, 7);
        font-family: $font__base--body;
        font-size: 80%;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: underline;

        &:first-child {
            @include rems(margin-left, -7);
        }
        
        @include respond-to("large only") {
            font-size: 100%;
        }
    }

}



.nav--footer {

    color: $color__neutral--dark;
    text-align: center;

    p {
        font-size: 100%;
    }

    .nav__item {

        color: $color__highlight--dark;
        text-decoration: none;
        font-weight: 200;

        &:hover,
        &:focus {
            color: $color__highlight;
        }
    }

    .nav__item--top {

        &:before {
            content: "↑";
            @include rems(padding-right, 5);
        }
    }
}