.photo-grid {
    width: 100%;
    @include rems(padding, 5, 0, 0, 5);
}

.photo-grid__row {
    clear: both;
}

.photo-grid__item {
    @include inline-block;
    @include rems(margin, 0, 5, 5, 0);
    position: relative;
    overflow: hidden;

    @include respond-to("small and above") {
        float: left;
    }

    &:hover,
    &:focus {
        overflow: visible;

        .photo-grid__content {
            bottom: 0;
        }
    }

    img {
        max-width: 100%;
        float: left;

        .no-js & {
            width: 100%;
            @include respond-to("medium and above") {
                width: auto;
                @include rems(height, 400);
            }

        }
    }
}

.photo-grid__content {
    @include rems(padding, 20, 10, 30, 10);
    clear: both;
    background-color: transparentize($color--white, 0.1);
    width: 100%;

    @include respond-to("small and above") {
        @include rems(padding-bottom, 100);
        position: absolute;
        @include rems(bottom, -250);
        left: 0;
        @include transition(bottom 250ms);
        @include rems(padding, 10, 10, 30, 10);
    }

    @include respond-to("large and above") {
        @include rems(padding-bottom, 100);
    }

    @include respond-to("xlarge and above") {
        @include rems(bottom, -300);
        @include rems(padding-bottom, 150);
    }

    h2 {
        border: none;
        padding: 0;
        margin: 0;
        @include text(24, 24, $font__base--headings);
        font-style: italic;
        color: $color--black;
        @include rems(margin-bottom, 5);
    }

    p {
        padding: 0;
        margin: 0;
        @include text(13, 15);
        font-style: italic;
    }
}