%post__header {
    @include rems(padding, 0, 0, 0, 60);
    @include rems(margin, 50, 0, 40, 0);

    background-image: image-url("icons/article.png");
    background-repeat: no-repeat;
    @include rems(background-size, 45);
    @include rems(background-position, 0, 5);

    h1 {
        @include rems(margin-bottom, 5);
    }

    @include respond-to("small and above") {
        @include rems(padding, 0, 0, 0, 60);
    }
}

%post__content {
    @include rems(padding, 0, 0, 30);
}





.post {
    @include rems(padding, 0, 15);

    @include respond-to("small and above") {
        @include rems(padding, 0, 30);
    }
}

.post__header {
    @extend %post__header;
}

.post__date {
    @include text($text__size--delta, $text__line--delta);
    font-style: italic;
    text-transform: none;
    margin: 0;
    border: none;
    
    a {
        color: $color__highlight;
        text-decoration: none;

        &:hover, &:focus {
            color: $color__highlight--dark;
        }
    }
}

.post__callout {
    @include rems(margin-bottom, 25);
    font-style: italic; 
}

.post__content {
    @extend %post__content;
}

.post__text-wrapper {
    @extend %push-text;
}

.post__link {
    border-bottom: 1px dotted $color__neutral--light;
    @include rems(margin-top, 10);
    @include rems(margin-bottom, 30);
    @include rems(padding-top, 10);
    @include rems(padding-bottom, 10);
    @extend %mh-pushpadding;

    .post & {
        @include respond-to("large and above") {
            padding-left: 20%;

            a {
                @include rems(margin-left, 30);
            }
        }
        @include respond-to("xlarge and above") {
            padding-left: 30%;
        }
    }
}

#disqus_thread {
    @extend %push-text;

}

.post__footer {
    clear: both;
    border-top: 1px dotted $color__neutral--light;
    @include rems(padding-top, 30);
    @include rems(padding-bottom, 30);

    .post & {
        @extend %mh-pushpadding;
    }
}


// POSTS LIST

.posts-list {
    .content-wrapper {
        @include respond-to("xlarge and above") {
            padding-left: 20%;
            padding-right: 20%;
        }
    }

    article {
        @include rems(padding, 0, 15);

        @include respond-to("small and above") {
            @include rems(padding, 0, 30);
        }
        @include respond-to("medium and above") {
            float: left;
            width: 48%;
            margin-left: 2%;

            &:nth-of-type(odd) {
                clear: left;
                margin-left: 0;
            }
        }


        @include respond-to("large and above") {
            width: percentage(94/300);

            &:nth-of-type(odd) {
                clear: none;
                margin-left: 2%;
            }

            &:nth-of-type(3n+1) {
                clear: left;
                margin-left: 0;
            }

        }
    }
}

.posts-list__header {
    @extend %post__header;

    h1 {
        a {
            color: $color--black;
            text-decoration: none;

            &:hover, &:focus {
                color: $color__neutral--dark;
            }
        }
    }
}

.posts-list__content {
    @extend %post__content;
    padding-bottom: 0;

    .post__link {
        margin-bottom: 0;

        article:last-child & {
            border-bottom: 0;
        }

        @include respond-to("medium and above") {
            border-bottom: 0;
            @include rems(margin-bottom, 30);
        }
    }
}

.posts-list__content--twitter {
    @include rems(padding, 75, 15, 0);
    @include rems(margin, 30, 0, 30, 0);
    border: 1px dotted transparentize($color__primary--dark, 0.9);
    background-image: image-url("icons/twitter.png");
    background-repeat: no-repeat;
    background-position: center 25px;
    @include rems(background-size, 45);
    @include border-radius(5px);

    @include respond-to("medium and above") {
        @include rems(margin-top, 50);
        @include rems(margin-bottom, 40);
    }


    p {
        font-style: italic;
        font-weight: 200;
        color: $color__primary--dark;

        a {
            color: $color__highlight;
        }
    }

    .post__date {
        text-align: right;
        a {
            color: $color__highlight;
        }
    }

    .post__link {
        border-top: 1px dotted $color__neutral--light;
        color: $color__primary--dark;
        border-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        
        a {
            color: $color__primary--dark;

            &:hover,
            &:focus {
                color: $color__highlight;
            }
        }
    }
}

.posts-list__content--twitter--prominent {
    border: none;
    background-color: $color__primary--dark;
    background-image: image-url("icons/twitter--white.png");

    p {
        color: $color--white;

        a {
            color: $color__highlight--super-light;
        }
    }

    .post__date {
        a {
            color: $color__highlight--super-light;
        }
    }

    .post__link {
        
        color: $color--white;
        
        a {
            color: $color--white;

            &:hover,
            &:focus {
                color: $color__highlight--super-light;
            }
        }
    }
}