// Calculate rems
// $target = pixel size
// $context = base pixel size
@function calc-rem($target, $context: $text__base-font-size) {
     @return ($target / $context) * 1rem;
}


// Rems mixin by Karl Merkli
@mixin rems($selector, $sizes...) {
    $pxValues: '';
    $remValues: '';
    $max: length($sizes);

    @for $i from 1 through $max {
        $pxValues: #{$pxValues + nth($sizes, $i)}px;

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $remValues: #{$remValues + calc-rem(nth($sizes, $i))};

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$selector}: $pxValues;
    #{$selector}: $remValues;
}