/////////////////
// Text Styles //
/////////////////

%text--replaced {
    @include inline-block();
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

html {
    font-size: $text__base-font-size * 1px;
}

body {
    font-size: 100%;
    line-height: $text__base-line/$text__base-font-size;
    font-family: $font__base--body;
    color: $color__neutral--dark;
    @include respond-to("medium and above") {
        text-rendering: optimizeLegibility;
    }
}

.wf-loading * {
    visibility: hidden;
}


@mixin text($size, $line, $family: $font__base--body) {
    font-size: $size * 1px;
    font-size: calc-rem($size);
    line-height: ($line/$size);
    @if $family != "" {
        font-family: $family;
    }
}

h1 {
    @include text($text__size--alpha, $text__line--alpha, $font__base--headings);
    @include rems(margin-bottom, $text__base-margin);
    color: $color--black;
    font-style: italic;
}

h2 {
    @include text($text__size--beta, $text__line--beta, $font__base--headings);
    color: $color--black;
    font-style: italic;
    border-bottom: 1px dotted transparentize($color__black, 0.7);
    @include rems(padding-bottom, ($text__base-margin/3));
    @include rems(margin-bottom, ($text__base-margin));
    @include rems(margin-top, ($text__base-margin * 2));
}

h3 {
    @include text($text__size--gamma, $text__line--delta);
    @include rems(margin-bottom, $text__base-margin);
    font-weight: bold;
    @include rems(margin-top, ($text__base-margin * 2));
}

p {
    @include text($text__size--gamma, $text__line--gamma);
    @include rems(margin-bottom, $text__base-margin);

    blockquote & {
        margin: 0;
        font-size: 150%;
        font-style: italic;
        font-weight: 200;

        @include respond-to("large and above") {
            font-size: 200%;
        }
    }
}

small {
    font-size: 75%;
}

blockquote {
    @include rems(margin, 30, 0, ($text__base-margin * 2), 0);
    border-top: 1px dotted $color__neutral;
    border-bottom: 1px dotted $color__neutral;
    @include rems(padding, 10, 15);
    @include rems(max-width, 600);

    @include respond-to("medium and above") {
        @include rems(margin-left, -15);
    }

    @include respond-to("large and above") {
        margin-left: -10%;
        @include rems(margin-bottom, $text__base-margin * 3)
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
    color: $color__neutral--super-dark;
}

a {
    color: $color__primary--light;
    word-wrap: break-word;

    &:hover,
    &:focus {
        color: $color__primary;
    }
}

pre {
    border: 1px solid $color--neutral--super-light;
    @include rems(margin-bottom, ($text__base-margin * 1.5));
    overflow: auto;
    @include rems(padding, $text__base-margin);

    code {
        @include text($text__size--delta, $text__line--delta, $font__base--mono);
        color: $color__primary--light;
    }
}

.intro {
    border-bottom: 1px dotted $color__neutral--light;
    @include rems(padding, 0, 15, 30);

    @include respond-to("small and above") {
        @include rems(padding, 0, 30, 30);
    }

    p {
        font-size: 150%;
        font-weight: 200;
        font-style: italic;
        @extend %push-text;

        @include respond-to("medium and above") {
            font-size: 200%;
        }

        @include respond-to("large and above") {
            text-align: center;
        }
    }
}

.inline-tweet {
    text-decoration: none;
    color: $color__highlight;

    &:after {
        content: "";
        background-image: image-url('logos/twitter.png');
        @include rems(width, 15);
        @include rems(height, 15);
        @include inline-block();
        @include rems(background-size, 15);
        background-repeat: no-repeat;
        @include rems(margin-left, 5);
    }

    @include respond-to("large and above") {

        &:after {
            @include rems(width, 25);
            @include rems(height, 25);
            @include rems(background-size, 25);
            @include rems(margin-left, 10);
        }

    }
}