/////////////////
// Text Styles //
/////////////////

%text--replaced {
    @include inline-block();
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}



html {
    font-size: $text__base-font-size * 1px;
}

body {
    font-size: 100%;
    line-height: $text__base-line/$text__base-font-size;
    font-family: $font__base--sans;
    color: $color__neutral--dark;
}

@mixin text($size, $line, $family: $font__base--sans) {
    font-size: $size * 1px;
    font-size: calc-rem($size);
    line-height: ($line/$size);
    @if $family != "" {
        font-family: $family;
    }
}

h1 {
    @include text($text__size--alpha, $text__line--alpha, $font__base--serif);
    @include rems(margin-bottom, $text__base-margin);
    color: $color--black;
    font-style: italic;
}

h2 {
    @include text($text__size--beta, $text__line--beta);
    @include rems(margin-bottom, $text__base-margin);
    color: $color__highlight;
}

h3 {
    @include text($text__size--gamma, $text__line--delta);
    @include rems(margin-bottom, $text__base-margin);
}

p {
    @include text($text__size--gamma, $text__line--gamma);
    @include rems(margin-bottom, $text__base-margin);
    font-weight: 200;

    blockquote & {
        margin: 0;
    }
}

.lead {
    font-size: 150%;
    font-family: $font__base--serif;
    font-style: italic;
    border-top: 1px dotted $color__neutral;
    border-bottom: 1px dotted $color__neutral;
    @include rems(padding, 10, 15);
}

small {
    font-size: 75%;
}

blockquote {
    @include rems(padding, 10, 15, 10, 15);
    @include rems(margin, 0, 0, $text__base-margin, $text__base-margin);
    border-left: 3px solid $color__primary--light;
}

em {
    font-style: italic;
}

strong {
    font-weight: normal;
}

a {
    color: $color__primary--light;

    &:hover,
    &:focus {
        color: $color__primary;
    }
}
.hr {
        height: 1px;
        font-size: 0;
        line-height: 0;
        display: block;
        clear: both;
        background-color: $color__neutral;
        @include rems(margin, 40, 0);
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        border: none;

}