// ==========================================================================
// AVATAR MODULE
// ==========================================================================

.avatar {

    @include link() {
        width: rem-calc(100);
        display: block;
        background: none;

        @include respond-to("medium") {
            width: rem-calc(140);
        }
    }
}