// ==========================================================================
// MESSAGES MODULE
// ==========================================================================

.message--posted-on {
    background-color: palette(neutral, light);
    margin-bottom: rem-calc(35);
    padding: rem-calc(12 15 10);
}


