{% assign divider = " ~ "%}
{% if page.content-type == 'posts-list' %}
{% assign divider = '' %}
{% endif %}
{% capture title %}{{ page.title }}{{ divider }}Front-end Developer ~ Mat Hayward{% endcapture %}
<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
    <head>
        <title>{{ title }}</title>
        {% if page.posted-on-url %}<link rel="canonical" href="{{ page.posted-on-url }}"/>{% endif %}

        <!-- Icons -->
        <link rel="shortcut icon" type="image/png" href="/static/images/icons/favicon.png">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/screen.css">
        <!--[if lte IE 8]>
            <link href="/static/css/screen_ie8.css" rel="stylesheet" type="text/css" />
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="Mat Hayward">

        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.url}}/feed.xml">

        <!-- SEARCH -->
        <link rel="search" type="application/opensearchdescription+xml" title="Mat Hayward" href="/opensearch.xml">

        <!-- Facebook Open Graph -->
        <meta property="og:site_name" content="Mat Hayward">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{site.url}}{{ page.url }}">
        <meta property="og:image" content="{{site.url}}/static/images/{{ page.share-img }}">
        <meta property="og:updated_time" content="{{ page.pub-time }}:00+00:00">


        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@mathaywarduk">
        <meta name="twitter:domain" content="mathayward.com">
        <meta name="twitter:creator" content="@mathaywarduk">
        <meta name="twitter:image:src" content="{{site.url}}/static/images/{{ page.share-img }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:url" content="{{site.url}}{{ page.url }}/">

        <script>
            (function(f,b){
                var c;
                f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
                f._hjSettings={hjid:20761, hjsv:3};
                c=b.createElement("script");c.async=1;
                c.src="//static.hotjar.com/c/hotjar-20761.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c); 
            })(window,document);
        </script>


    </head>
    <body class="no-js {% if page.home %}is--home{% endif %}">
        <b id="top"></b>
        {% if page.home  %}
        <header class="island--black masthead__wrapper" itemscope itemtype="http://data-vocabulary.org/Person">
            <div class="wrapper">
                {% include nav/masthead.html %}
            </div>
        </header>
        {% else %}
        <header class="island--black masthead__wrapper" id="topnav">
            {% include nav/masthead--small.html %}
        </header>
        {% endif %}

        <{{ page.container-type }}" id="article-top">

            {{ content }}

        </{{ page.container-type }}>

        <footer class="footer island--black">
            <nav class="wrapper">
                <p class="p--small footer__credits">Made by <a href="http://madebykind.com">Kind</a> for <a href="http://plus.google.com/117510067130914002427?rel=author">Mat Hayward</a></p>
                <p class="p--small footer__back"><a href="#top" data-scroll-to-target>Back to top</a></p>
            </nav>
        </footer>


        {% include nav/masthead--small.html sticky="true" %}

        <!-- Scripts -->
        <script type="text/javascript" src="/static/js/build/app.min.js" async></script>
    </body>
</html>
