{% assign divider = " ~ "%}
{% if page.content-type == 'posts-list' %}
{% assign divider = '' %}
{% endif %}
{% capture title %}{{ page.title }}{{ divider }}Front-end Developer ~ Mat Hayward{% endcapture %}
<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
    <head>
        <title>{{ title }}</title>
        {% if page.posted-on-url %}<link rel="canonical" href="{{ page.posted-on-url }}"/>{% endif %}

        <!-- Icons -->
        <link rel="shortcut icon" type="image/png" href="/static/images/icons/favicon.png" />

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/screen.css" />

        <!-- Fonts -->
        <script type="text/javascript" src="//use.typekit.net/rgc4dxh.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="{{ page.description }}" />
        <meta name="author" content="Mat Hayward" />
        <meta name="keywords" content="{{ page.keywords }}" />

        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.url}}/feed.xml" />

        <!-- SEARCH -->
        <link rel="search" type="application/opensearchdescription+xml" title="Mat Hayward" href="/opensearch.xml" />

        <!-- Facebook Open Graph -->
        <meta property="og:site_name" content="Mat Hayward"/>
        <meta property="og:description" content="{{ page.description }}"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{site.url}}{{ page.url }}"/>
        <meta property="og:image" content="{{site.url}}/static/images/{{ page.share-img }}"/>
        <meta property="og:updated_time" content="{{ page.pub-time }}:00+00:00">


        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@mathaywarduk"/>
        <meta name="twitter:domain" content="mathayward.com"/>
        <meta name="twitter:creator" content="@mathaywarduk"/>
        <meta name="twitter:image:src" content="{{site.url}}/static/images/{{ page.share-img }}"/>
        <meta name="twitter:description" content="{{ page.description }}"/>
        <meta name="twitter:title" content="{{ title }}"/>
        <meta name="twitter:url" content="{{site.url}}{{ page.url }}/"/>

        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/static/js/plugins.js"></script>

    </head>
    <body class="no-js">
        <b id="top"></b>
        <header class="header" itemscope itemtype="http://data-vocabulary.org/Person">
            <div class="header__avatar">
                <a href="/"><img src="https://lh3.googleusercontent.com/-QlmUfD33DRk/AAAAAAAAAAI/AAAAAAAABig/NVgoYx97Y1U/s120-c/photo.jpg" alt="Oooo yeah, click my face!" title="Oooo yeah, click my face!" /></a>
            </div>

            <h1 itemprop="name"><a href="/">Mat Hayward</a></h1>
            <div class="subheader">{{ site.strapline }}</div>
            <div class="layout--hidden">
                <a href="{{site.url}}" itemprop="url">mathayward.com</a>.
                <span itemprop="address" itemscope
                itemtype="http://data-vocabulary.org/Address">
                <span itemprop="locality">Nottingham</span>
                <span itemprop="country-name">United Kingdom</span>
                <span itemprop="title">Front-end developer</span> at <span itemprop="affiliation">Erskine Design</span>
                </span>
            </div>
            <nav class="nav">
                <a href="/" class="nav__item" title="Ramblings and such">Read</a><span class="nav__divider"> | </span>
                <a href="/work" class="nav__item" title="Details of where I've worked with selected projects">Work</a><span class="nav__divider"> | </span>
                <a href="/photography" class="nav__item" title="Some of the photographs I've taken">Photography</a><span class="nav__divider"> | </span>
                <a href="/search" class="nav__item" title="Feeling lazy? Use the search function to find things quickly">Search</a></b>
            </nav>
        </header>

        <{{ page.container-type }} class="content-block {{ page.content-type }}" id="article-top">

            {{ content }}

            <footer class="post__footer">
                <nav class="nav--footer">
                    <p>&copy; <a href="https://plus.google.com/117510067130914002427?rel=author" class="nav__item">Mat Hayward</a> | <a href="http://www.twitter.com/mathaywarduk" class="nav__item" title="Follow me">Twitter</a></p>
                    <a href="#top" class="nav__item nav__item--top" data-scroll-to-target>Back to top</a>
                </nav>
            </footer>
        </{{ page.container-type }}>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-580668-8']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
