---
layout: default
---

<div class="wrapper">

    {% comment %} Produce a date string {% endcomment %}

    {% assign d = page.date | date: "%d" | plus: "0" %}

    {% capture date_string %}{{ d }}{{ suffix }} {{ page.date | date: "%b" }} {{ page.date | date: "%Y" }}{% endcapture %}


    {% comment %} Check if posted on third-party website {% endcomment %}


    {% if page.posted-on %}

    {% capture posted_on %}This article was originally posted on {{ page.posted-on }}. <a href="{{ page.posted-on-url }}">Read the original</a>.{% endcapture %}

    {% endif %}


    {% comment %} Get previous page link {% endcomment %}

    {% assign previous = page.previous %}

    {% if previous.title == 'Tweet' %}
        {% assign previous = previous.previous %}
        {% if previous.title == 'Tweet' %}
            {% assign previous = previous.previous %}
        {% endif %}
    {% endif %}


    {% comment %} Get next page link {% endcomment %}

    {% assign next = page.next %}


    {% if next.title == 'Tweet' %}
        {% assign next = next.next %}
        {% if next.title == 'Tweet' %}
            {% assign next = next.next %}
        {% endif %}
    {% endif %}



    <header class="h--group">
        <h1>{{ page.title }}</h1>
        <time datetime="{{page.date}}" class="h--date">{{ date_string }}</time>
    </header>

    <section class="col col--full col--2--medium post" role="main" data-large-period>

        {{ content }}

    </section>
    <aside class="col col--full col--1--medium">

        {% if page.posted-on %}
            <div class="message--posted-on">{{ posted_on }}</div>
        {% endif %}
        
        <div class="share">
            <h2 class="share__header">Share this article</h2>
            <ul class="share__links">
                <li><a href="http://twitter.com/intent/tweet?url=http%3A%2F%2Fmathayward.com{{ page.url | UrlEncode }}&amp;related=mathaywarduk&amp;text=%E2%80%9C{{ page.title | UrlEncode | replace: "&amp;", "%26" }}%E2%80%9D+(via+@mathaywarduk)" class="share__link share__link--twitter"data-popup data-popup-width="685" data-popup-height="500">Share <em>&ldquo;{{ page.title }}&rdquo;</em> on Twitter</a></li>
                <li><a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;u=http%3A%2F%2Fmathayward.com{{ page.url | UrlEncode }}&amp;t=%E2%80%9C{{ page.title | UrlEncode | replace: "&amp;", "%26" }}%E2%80%9D+by+Mat+Hayward" class="share__link share__link--facebook" data-popup data-popup-width="685" data-popup-height="500">Share <em>&ldquo;{{ page.title }}&rdquo;</em> on Facebook</a></li>
            </ul>
        </div>
    </aside>


    {% if previous.url or next.url %}
        <ul class="nav--cycle">
    {% endif %}
    
    {% if previous.url %}
        <li class="nav__item nav__item--previous"><a href="{{previous.url}}"><span>{{previous.title}}</span></a><li>
    {% endif %}
    {% if next.url %}
        <li class="nav__item nav__item--next"><a href="{{next.url}}"><span>{{next.title}}</span></a></li>
    {% endif %}

    {% if previous.url or next.url %}
        </ul>
    {% endif %}
        

</div>