---
layout: default
---


{% comment %} Produce a date string {% endcomment %}

{% assign d = page.date | date: "%d" | plus: "0" %}

{% case d %}
  {% when 1 or 21 or 31 %}
    {% assign suffix = "st" %}
  {% when 2 or 22 %}
    {% assign suffix = "nd" %}
  {% when 3 or 23 %}
    {% assign suffix = "rd" %}
  {% else %}
    {% assign suffix = "th" %}
{% endcase %}

{% capture date_string %}{{ page.date | date: "%A" }} {{ d }}{{ suffix }} {{ page.date | date: "%B" }} {{ page.date | date: "%Y" }}{% endcapture %}


{% comment %} Check if posted on third-party website {% endcomment %}


{% if page.posted-on %}

{% capture posted_on %}This article was originally posted on {{ page.posted-on }}. <a href="{{ page.posted-on-url }}">Read the original</a>.{% endcapture %}

{% endif %}


{% comment %} Get previous page link {% endcomment %}

{% assign previous = page.previous %}

{% if previous.twitter-id %}
    {% assign previous = previous.previous %}
    {% if previous.twitter-id %}
        {% assign previous = previous.previous %}
    {% endif %}
{% endif %}


{% comment %} Get next page link {% endcomment %}

{% assign next = page.next %}

{% if next.twitter-id %}
    {% assign next = next.next %}
    {% if next.twitter-id %}
        {% assign next = next.next %}
    {% endif %}
{% endif %}



<div class="post__text-wrapper">
    <header class="post__header">
        <h1>{{ page.title }}</h1>
        <h2 class="post__date">{{ date_string }}</h2>
        <span class="layout--hidden">by <a href="https://plus.google.com/109412257237874861202?
   rel=author">Mat Hayward</a></span>
    </header>
</div>

<section class="post__content" role="main">
    <div class="post__text-wrapper">
        {{ content }}

        {% if page.posted-on %}
        <hr />
        <p>{{ posted_on }}</p>
        {% endif %}
    </div>


    <div class="social">
        <h4 class="social__header">Share <em>&ldquo;{{ page.title }}&rdquo;</em></h4>
        <ul class="social__links">
            <li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fmathayward.com{{ page.url | UrlEncode }}&amp;related=mathaywarduk&amp;text=%E2%80%9C{{ page.title | UrlEncode | replace: "&amp;", "%26" }}%E2%80%9D+(via+@mathaywarduk)" class="social__link social__link--twitter"data-popup data-popup-width="685" data-popup-height="500">on Twitter</a></li>
            <li><a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;u=http%3A%2F%2Fmathayward.com{{ page.url | UrlEncode }}&amp;t=%E2%80%9C{{ page.title | UrlEncode | replace: "&amp;", "%26" }}%E2%80%9D+by+Mat+Hayward" class="social__link social__link--facebook" data-popup data-popup-width="685" data-popup-height="500">on Facebook</a></li>
        </ul>
    </div>

    

    {% if previous.url or next.url %}
        <div class="nav--cycle">
    {% endif %}
    
    {% if previous.url %}
        <a href="{{previous.url}}" class="nav__item--cycle nav__item--cycle--previous">
            <h2>{{previous.title}}</h2>
        </a>
    {% endif %}
    {% if next.url %}
        <a href="{{next.url}}" class="nav__item--cycle nav__item--cycle--next">
            <h2>{{next.title}}</h2>
        </a>
    {% endif %}

    {% if previous.url or next.url %}
        </div>
    {% endif %}
    
</section>

