// ==========================================================================
// HEADINGS MODULE
// ==========================================================================


h1, .h1 {
    @include font-family(futura);
    @include font-weight(medium);
    font-style: italic;
    @include font-scale(large, futura);
    margin-bottom: rem-calc($base-spacing);

}

h2, .h2 {
    @include font-family(futura);
    @include font-weight(medium);
    font-style: italic;
    @include font-scale(base, futura);
    margin-bottom: rem-calc($base-spacing);
}

h3, .h3 {
    @include font-family(futura);
    @include font-weight(heavy);
    text-transform: uppercase;
    @include font-scale(small, futura);
    margin-bottom: rem-calc($base-unit * 2);
}

