// ==========================================================================
// PARAGRAPHS MODULE
// ==========================================================================


p {
    @include font-weight(medium);
    @include font-scale(large, chaparral);
    margin-bottom: rem-calc($base-unit * 5);

    &:first-of-type {
        @include font-weight(medium);
        @include font-scale(xlarge, chaparral);
        margin-bottom: rem-calc($base-unit * 6);
    }
}

.p--small {
    &,
    &:first-child {
        @include font-scale(small);
        margin-bottom: rem-calc($base-unit * 2);
    }
}